header {
	width: 100%;
	height: $headerBgHeight;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
  
  @media screen and (max-width: 440px) {
    margin-top: -18px;  
  }

	.background-pane {
		width: 100%;
		height: $headerBgHeight;
		background-color: #000;
		opacity: 1;
		color: #fff;

		.title {
			text-align: center;
			font-size: 1.5em;
			text-shadow: 2px 2px 0px $redColor;
			@include h-center();

			img {
				max-height: $headerBgHeight / 2;
			}
		}
		
		.header-menu {
			display: -webkit-flex;
			display: flex;
			position: absolute;
			right: 0;
			
			@media screen and (max-width: 769px) {
				font-size: 80%;
				margin-top: 22px;
			}
			
			@media screen and (max-width: 640px) {
				display: none;
			}
			
			li {
				text-align: center;
				text-transform: uppercase;
				padding: 0 16px;
				
				a {
					color: #fff;	
				}
				
				@media screen and (max-width: 769px) {
					padding: 0 10px;
				}
			}
		}
	}
}