/* =============== */
/* == VARIABLES == */
/* =============== */
$headerBgHeight: 60px;
$redColor: #BB0C00;
$textColor: #4A4A4A;
$albumBreak: 680px;

/* ============ */
/* == MIXINS == */
/* ============ */
@mixin v-center($ypos: -50%) {
	position: absolute;
	top: 50%;
	transform: translateY($ypos);
}

@mixin h-center($xpos: -50%) {
	position: absolute;
	left: 50%;
	transform: translateX($xpos);
}

@import "globals";
@import "header";
@import "side-drawer";
@import "landing-page";
@import "music-section";
@import "shows-section";
@import "photo-grid";
@import "video-grid";
@import "footer"