/* =============== */
/* == VARIABLES == */
/* =============== */
$headerBgHeight: 104px;
$redColor: #BB0C00;
$textColor: #4A4A4A;
$albumBreak: 680px;

/* ============ */
/* == GLOBAL == */
/* ============ */

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

body {
	font-family: sans-serif;
	font-size: 18px;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}



header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;

	.background-pane {
		display: flex;
		flex-flow: center;
		align-items: center;
		align-content: center;
		width: 100%;
		height: $headerBgHeight;
		background-color: #000;
		opacity: 1;
		color: #fff;

		.title {
			flex-grow: 1;
			text-align: center;
			font-size: 1.5em;
			text-shadow: 2px 2px 0px $redColor;
		}
	}
}

/* ================= */
/* == MINI PLAYER == */
/* ================= */

.player-progress {
	position: absolute;
	right: 1em;
	top: 1em;
	color: #fff;

	.play-button {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 100%;
		text-align: center;
	}

	&:hover {
		cursor: pointer;
	}
}

/* ================= */
/* == SIDEDRAWER == */
/* ================= */

.menu-button {
	color: #fff;
	display: block;
	position: absolute;
	top: 2em;
	cursor: pointer;
	opacity: 0.5;
	transition: all 0.3s ease;

	&:hover {
		opacity: 0.8;
	}

	&.close {
		right: 27px;
	}

	&.open {
		left: 27px;
	}
}

side-drawer {
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
	height: 100vh;
	background: #333;
	color: #fff;
	z-index: 4;

	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.36);
	
	// Amimate
	transform: translateX(-300px);
	opacity: 0;
	
	transition: all 0.5s ease;
}

side-drawer.open {
	transform: translateX(0px);
	opacity: 1;
}

/* ================== */
/* == HERO/LANDING == */
/* ================== */
// Container
.artist-hero {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: 70% top;
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	transition: all 2s ease;

	// Title
	.artist-name {
		color: #fff;
		text-shadow: 2px 2px 0px $redColor;
		align-self: center;

		h1 {
			margin: 0;
		}

		h1 + span {
			font-size: 1em !important;

			@media screen and (min-width: 768px) {
				font-size: 40px !important;
			}
		}
	}

	// Social Media Links
	.social-media {
		width: 100%;
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;

		.to-next {
			display: block;
			position: absolute;
			top: -100%;
			left: 50%;
			color: rgba(187, 12, 0, 0.7);
			opacity: 0;
			text-shadow: 0 0 0 #fff;
			cursor: pointer;

			i {
				transition: all 0.4s ease;
			}

			&:hover i {
				transform: scale(1.25);
			}
		}

		li {
			text-align: center;
			display: inline-block;

			@media screen and (max-width: 634px) {
				margin: 0.5em 0;
			}

			a {
				color: rgba(255, 255, 255, 1);
				padding: 0 0.5em;
				text-shadow: 2px 2px 0px $redColor;
				opacity: 0.8;
				-webkit-transition: all 0.4s ease;
				font-size: 1.5em;

				&:hover {
					opacity: 1;
					text-shadow: 0px 0px 0px $redColor;
				}
			}
		}
	}
}

/* =================== */
/* == MUSIC SECTION == */
/* =================== */
.page-title {
	text-align: center;
	font-size: 3em;
	color: $redColor;
	margin: 80px 0;
}

.music-section {
	width: 100%;
	padding-bottom: 120px;
}

slick.albums {

	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: rgba(187, 12, 0, 0.2);
		cursor: pointer;
		z-index: 1;
	}

	.arrow-left {
		left: 5%;
		
		@media screen and (min-width: 1000px) {
			left: 15%;
		}
	}

	.arrow-right {
		right: 5%;

		@media screen and (min-width: 1000px) {
			right: 15%;
		}
	}

	.album {

		.container {
			margin: 0 auto;
			text-align: center;
			max-width: 680px;

			@media screen and (min-width: $albumBreak) {
				text-align: left;
				padding: 0 30px;
			}

			.artwork {
				width: 200px;
				height: 200px;
				display: block;
				margin: 0 auto 10px;
				border-radius: 2px;

				@media screen and (min-width: $albumBreak) {
					float: left;
					margin-right: 40px;
				}
			}

			& > div, .album-title, .buy-link {
				margin: 0 0 10px 0;
			}

			.buy-link {
				display: inline-block;
				margin-top: 30px;
				border: 1px solid $redColor;
				border-radius: 4px;
				width: 190px;
				text-align: center;
				padding: 5px 0;
				color: $redColor;
			}

			.track-count {
				width: 100%;
				float: left;
				font-size: 14px;
				color: rgba(151, 151, 151, 0.4);
				margin: 30px 0;
			}

			.album-tracks {
				margin: 0 auto;
				color: $textColor;
				text-align: left;
				-webkit-column-count: 2;
				-moz-column-count: 2;
				-webkit-column-fill: balance;
				-moz-column-fill: balance;


				@media screen and (min-width: $albumBreak) {
					float: left;
				}

				ul {
					@media screen and (min-width: $albumBreak) {
						padding-left: 20px;
						border-left: 1px solid rgba(151, 151, 151, 0.4);
						margin-top: 0;
					}

					li {
						display: block;
						width: 300px;
						margin: 0 auto 10px;

						span:nth-child(1) {
							display: inline-block;
							width: 30px;
							text-align: right;
							margin-right: 20px;
						}
					}
				}
			}
		}
	}
}


/* ==================== */
/* == PHOTOS SECTION == */
/* ==================== */
.page-title {
	text-align: center;
	font-size: 3em;
	color: $redColor;
	margin: 80px 0;
}

.music-section {
	width: 100%;
	padding-bottom: 120px;
}


@import "photo-grid"





