/* =============== */
/* == VARIABLES == */
/* =============== */
/* ============ */
/* == GLOBAL == */
/* ============ */
/* line 13, ../sass/main.scss */
*, *::before, *::after {
  box-sizing: border-box;
}

/* line 17, ../sass/main.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* line 24, ../sass/main.scss */
body {
  font-family: sans-serif;
  font-size: 18px;
}

/* line 29, ../sass/main.scss */
img {
  max-width: 100%;
}

/* line 33, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 37, ../sass/main.scss */
ul {
  list-style: none;
  padding: 0;
}

/* line 44, ../sass/main.scss */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
/* line 53, ../sass/main.scss */
header .background-pane {
  display: flex;
  flex-flow: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 104px;
  background-color: #000;
  opacity: 1;
  color: #fff;
}
/* line 64, ../sass/main.scss */
header .background-pane .title {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 0px #BB0C00;
}

/* ================= */
/* == MINI PLAYER == */
/* ================= */
/* line 77, ../sass/main.scss */
.player-progress {
  position: absolute;
  right: 1em;
  top: 1em;
  color: #fff;
}
/* line 83, ../sass/main.scss */
.player-progress .play-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
/* line 93, ../sass/main.scss */
.player-progress:hover {
  cursor: pointer;
}

/* ================= */
/* == SIDEDRAWER == */
/* ================= */
/* line 102, ../sass/main.scss */
.menu-button {
  color: #fff;
  display: block;
  position: absolute;
  top: 2em;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
}
/* line 111, ../sass/main.scss */
.menu-button:hover {
  opacity: 0.8;
}
/* line 115, ../sass/main.scss */
.menu-button.close {
  right: 27px;
}
/* line 119, ../sass/main.scss */
.menu-button.open {
  left: 27px;
}

/* line 124, ../sass/main.scss */
side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background: #333;
  color: #fff;
  z-index: 4;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.36);
  transform: translateX(-300px);
  opacity: 0;
  transition: all 0.5s ease;
}

/* line 143, ../sass/main.scss */
side-drawer.open {
  transform: translateX(0px);
  opacity: 1;
}

/* ================== */
/* == HERO/LANDING == */
/* ================== */
/* line 152, ../sass/main.scss */
.artist-hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 70% top;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: all 2s ease;
}
/* line 164, ../sass/main.scss */
.artist-hero .artist-name {
  color: #fff;
  text-shadow: 2px 2px 0px #BB0C00;
  align-self: center;
}
/* line 169, ../sass/main.scss */
.artist-hero .artist-name h1 {
  margin: 0;
}
/* line 173, ../sass/main.scss */
.artist-hero .artist-name h1 + span {
  font-size: 1em !important;
}
@media screen and (min-width: 768px) {
  /* line 173, ../sass/main.scss */
  .artist-hero .artist-name h1 + span {
    font-size: 40px !important;
  }
}
/* line 183, ../sass/main.scss */
.artist-hero .social-media {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 190, ../sass/main.scss */
.artist-hero .social-media .to-next {
  display: block;
  position: absolute;
  top: -100%;
  left: 50%;
  color: rgba(187, 12, 0, 0.7);
  opacity: 0;
  text-shadow: 0 0 0 #fff;
  cursor: pointer;
}
/* line 200, ../sass/main.scss */
.artist-hero .social-media .to-next i {
  transition: all 0.4s ease;
}
/* line 204, ../sass/main.scss */
.artist-hero .social-media .to-next:hover i {
  transform: scale(1.25);
}
/* line 209, ../sass/main.scss */
.artist-hero .social-media li {
  text-align: center;
  display: inline-block;
}
@media screen and (max-width: 634px) {
  /* line 209, ../sass/main.scss */
  .artist-hero .social-media li {
    margin: 0.5em 0;
  }
}
/* line 217, ../sass/main.scss */
.artist-hero .social-media li a {
  color: white;
  padding: 0 0.5em;
  text-shadow: 2px 2px 0px #BB0C00;
  opacity: 0.8;
  -webkit-transition: all 0.4s ease;
  font-size: 1.5em;
}
/* line 225, ../sass/main.scss */
.artist-hero .social-media li a:hover {
  opacity: 1;
  text-shadow: 0px 0px 0px #BB0C00;
}

/* =================== */
/* == MUSIC SECTION == */
/* =================== */
/* line 237, ../sass/main.scss */
.page-title {
  text-align: center;
  font-size: 3em;
  color: #BB0C00;
  margin: 80px 0;
}

/* line 244, ../sass/main.scss */
.music-section {
  width: 100%;
  padding-bottom: 120px;
}

/* line 251, ../sass/main.scss */
slick.albums .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(187, 12, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}
/* line 260, ../sass/main.scss */
slick.albums .arrow-left {
  left: 5%;
}
@media screen and (min-width: 1000px) {
  /* line 260, ../sass/main.scss */
  slick.albums .arrow-left {
    left: 15%;
  }
}
/* line 268, ../sass/main.scss */
slick.albums .arrow-right {
  right: 5%;
}
@media screen and (min-width: 1000px) {
  /* line 268, ../sass/main.scss */
  slick.albums .arrow-right {
    right: 15%;
  }
}
/* line 278, ../sass/main.scss */
slick.albums .album .container {
  margin: 0 auto;
  text-align: center;
  max-width: 680px;
}
@media screen and (min-width: 680px) {
  /* line 278, ../sass/main.scss */
  slick.albums .album .container {
    text-align: left;
    padding: 0 30px;
  }
}
/* line 288, ../sass/main.scss */
slick.albums .album .container .artwork {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto 10px;
  border-radius: 2px;
}
@media screen and (min-width: 680px) {
  /* line 288, ../sass/main.scss */
  slick.albums .album .container .artwork {
    float: left;
    margin-right: 40px;
  }
}
/* line 301, ../sass/main.scss */
slick.albums .album .container > div, slick.albums .album .container .album-title, slick.albums .album .container .buy-link {
  margin: 0 0 10px 0;
}
/* line 305, ../sass/main.scss */
slick.albums .album .container .buy-link {
  display: inline-block;
  margin-top: 30px;
  border: 1px solid #BB0C00;
  border-radius: 4px;
  width: 190px;
  text-align: center;
  padding: 5px 0;
  color: #BB0C00;
}
/* line 316, ../sass/main.scss */
slick.albums .album .container .track-count {
  width: 100%;
  float: left;
  font-size: 14px;
  color: rgba(151, 151, 151, 0.4);
  margin: 30px 0;
}
/* line 324, ../sass/main.scss */
slick.albums .album .container .album-tracks {
  margin: 0 auto;
  color: #4A4A4A;
  text-align: left;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
}
@media screen and (min-width: 680px) {
  /* line 324, ../sass/main.scss */
  slick.albums .album .container .album-tracks {
    float: left;
  }
}
@media screen and (min-width: 680px) {
  /* line 338, ../sass/main.scss */
  slick.albums .album .container .album-tracks ul {
    padding-left: 20px;
    border-left: 1px solid rgba(151, 151, 151, 0.4);
    margin-top: 0;
  }
}
/* line 345, ../sass/main.scss */
slick.albums .album .container .album-tracks ul li {
  display: block;
  width: 300px;
  margin: 0 auto 10px;
}
/* line 350, ../sass/main.scss */
slick.albums .album .container .album-tracks ul li span:nth-child(1) {
  display: inline-block;
  width: 30px;
  text-align: right;
  margin-right: 20px;
}

/* ==================== */
/* == PHOTOS SECTION == */
/* ==================== */
/* line 367, ../sass/main.scss */
.page-title {
  text-align: center;
  font-size: 3em;
  color: #BB0C00;
  margin: 80px 0;
}

/* line 374, ../sass/main.scss */
.music-section {
  width: 100%;
  padding-bottom: 120px;
}

/* line 1, ../sass/_photo-grid.scss */
.flowGrid::before, .flowGrid::after {
  content: "";
  display: table;
}

/* line 6, ../sass/_photo-grid.scss */
.flowGrid::after {
  clear: both;
}

/* line 10, ../sass/_photo-grid.scss */
.flowGridItem {
  margin-bottom: 10px;
}

/* line 14, ../sass/_photo-grid.scss */
.flowGridItem img {
  width: 100%;
}

/* line 18, ../sass/_photo-grid.scss */
.flowGridColumn {
  float: left;
  padding-left: 10px;
}

/* line 23, ../sass/_photo-grid.scss */
.flowGridColumn:last-of-type {
  padding-right: 10px;
}
